@import "tailwindcss";

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-display: "Space Grotesk", sans-serif;

    --color-primary: #C9A24D;
    --color-primary-gold: #C9A24D;
    --color-background: #0B0E14;
}

:root {
    --background: #0B0E14;
    --foreground: #ededed;
    --primary-gold: #C9A24D;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0B0E14;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}